@import '../../index.scss';
@import '../../responsive';


.header {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: 600;
}

.amountContainer {
  background-color: #f7f7f7;
  padding: 25px 35px;
}

.selectAmtContainer {
  display: flex;
  align-items: center;

  padding-top: 30px;
  margin: auto;

  @include for-phone-only {
    flex-direction: column;
  }
}

.selectAmt {
  display: flex;
  align-items: center;

  @include for-phone-only {
    margin-bottom: 30px;
  }
}

.separator {
  margin: 0 15px;
}

.customAmt {
  width: 100%;
  max-width: 250px;
}

.costPerMeal {
  border-color: #9e9e9e;
  background-color: #9e9e9e;
}

.nextBtn {
  position: relative;
  float: right;
  right: 0px;
  bottom: -25px;
}

.customAmt:invalid {
  border: 1px solid red;
}

.total {
  flex-grow: 1;
  text-align: center;
}

.illustrationsContainer {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.illustrationLeading {
  width: 45%;
  float: left;
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 450px) {
  .illustrationLeading {
    width: 45%;
    height: 100%;
    float: left;
    max-width: 100%;
  }
}

.illustrationTrailing {
  width: 45%;
  float: right;
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 450px) {
  .illustrationTrailing {
    width: 45%;
    height: 100%;
    float: right;
    max-width: 100%;
  }
}

.explantionContainer {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.explanation {
  font-size: 14px;
  width: 45%;
}

@media only screen and (max-width: 799px) {
  .donationsContainer {
    width: 85%;
    height: 75vh;
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 450px) {
  .donationsContainer {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

  form button {
    background-color: white;
  }

  .customAmt {
    width: 100%;
  }
}

.bold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.link,
.link:hover,
.link:active {
  color: $standard-red;
  text-decoration: none;
}

.description {
  line-height: normal;
  width: 80%;

  @include for-phone-only {
    width: 100%;
  }
}

// CampaignInstructions styling
.modalBackground {
  background-color: $standard-red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  margin: 20px 0;
}

.modalInstructionsGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5px;

  @media (max-width: 900px) {
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 15px;
    justify-items: center;
  }

  @media (max-width: 400px) {
    grid-auto-flow: column;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 15px;
    justify-items: center;
  }
}

.modalStepGrid {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 5px;
  width: 145px;

  @media (max-width: 1000px) {
    img {
      width: 50px;
    }
  }
}

.modalStepText {
  p {
    color: white;
    margin: 0;
    font-size: 11px;
    line-height: normal;
  }
}
