@import '../../responsive';

.container {
  width: 100%;
  margin-top: 16px;
  @include for-tablet-landscape-up {
    margin-top: 0;
  }
}
.merchantIllustrationContainer {
  background: #a9122a;
  width: 100%;
  height: 192px;
}

.merchantIllustration {
  width: 100%;
  height: 100%;
}
.nationality {
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top: 24px;
}

p {
  padding-bottom: 10px;
  line-height: 1.75em;
  letter-spacing: 0.015em;
}

.address {
  font-size: 15px;
  line-height: 1.75em;
}

.storeDetails {
  margin-top: 50px;
}
