@import '../../responsive';

.container {
  width: 100%;
  margin-top: 16px;
  @include for-tablet-landscape-up {
    margin-top: 0;
  }
  @media (max-width: 900px) {
    padding-bottom: 25px;
  }
}
.merchantIllustrationContainer {
  background: #a9122a;
  width: 100%;
  height: 192px;
}

.merchantIllustration {
  width: 100%;
  height: 100%;
}
.nationality {
  font-size: smaller;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top: 48px;
  margin-bottom: 18px;
}

p {
  padding-bottom: 10px;
  line-height: 1.75em;
  letter-spacing: 0.015em;
}

.address {
  font-size: 15px;
  line-height: 1.75em;
}

.storeDetails {
  margin-top: 50px;
}

.websiteUrl {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-decoration-line: underline;
  margin-top: 12px;
  color: #A8192E;
}

.information {
  position: relative;
}

.ownerImage {
  display: none;

  @media (max-width: 900px) {
      display: inline;
      width: 100px;
      height: 100px;
      // border-radius: 100%;
      position: absolute;
      right: 50px;
  }
}
