@import '../../responsive';

.amountContainer {
  background-color: #f7f7f7;
  padding: 25px 35px;
}

.selectAmtContainer {
  display: flex;
  align-items: center;

  padding-top: 30px;
  margin: auto;

  @include for-phone-only {
    flex-direction: column;
  }
}

.selectAmt {
  display: flex;
  align-items: center;

  @include for-phone-only {
    margin-bottom: 30px;
  }
}

.separator {
  margin: 0 15px;
}

.customAmt {
  width: 100%;
  max-width: 250px;
}

.costPerMeal {
  border-color: #9e9e9e;
  background-color: #9e9e9e;
}

.nextBtn {
  position: relative;
  float: right;
  right: 0px;
  bottom: -25px;
}

.customAmt:invalid {
  border: 1px solid red;
}

.total {
  flex-grow: 1;
  text-align: center;
}

.illustrationsContainer {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.illustrationLeading {
  width: 45%;
  float: left;
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 450px) {
  .illustrationLeading {
    width: 45%;
    height: 100%;
    float: left;
    max-width: 100%;
  }
}

.illustrationTrailing {
  width: 45%;
  float: right;
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 450px) {
  .illustrationTrailing {
    width: 45%;
    height: 100%;
    float: right;
    max-width: 100%;
  }
}

.explantionContainer {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.explanation {
  font-size: 14px;
  width: 45%;
}

@media only screen and (max-width: 799px) {
  .donationsContainer {
    width: 85%;
    height: 75vh;
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 450px) {
  .donationsContainer {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

  form button {
    background-color: white;
  }

  .customAmt {
    width: 100%;
  }
}
