{

    "extends": ["react-app"],
    "rules": {
    },
    "plugins": ["@typescript-eslint"],
    "overrides": [
      {
        "files": ["**/*.ts?(x)"],
        "rules": {
          "@typescript-eslint/no-unused-vars": "off",
          "react/react-in-jsx-scope": "off"
        }
      }
    ]
  
}