@import '../../responsive';
$container-size: 160px;

.container {
  display: flex;
  width: 100%;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  align-items: center;
  padding: 18px 32px;
}

.ownerName {
  margin: 6px 0;
}

.ownerImage {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.ownerContainer {
  width: $container-size;
  height: $container-size;
  // TODO(jmckibben): See if we really *need* this
  // background-color: #c4c4c4;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 25px;
  padding: 8px;
}

.buttonContainer {
  flex-direction: row;
  text-align: center;
  margin: 15px 0px 25px 0px;
}

.button {
  margin: 5px 10px;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.05em;
  cursor: pointer;
  @include for-phone-only {
    font-size: 16px;
    height: 48px;
    width: 240px;
    margin-bottom: px;
  }
}

.summaryContainer {
  width: 100%;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  padding: 30px 20px;
}

.socialContainer {
  width: 100%;
  text-align: center;
  padding: 20px 0px 0px 0px;
}

.socialIconContainer {
  display: inline;
  margin: 0px 8px 0px 8px;
}

.storeSummaryLabel {
  font-weight: bold;
}

.fa {
  width: 50px;
  height: 50px;
  background-color: #dfdfdf;
  color: white;
  text-align: center;
  text-decoration: none;
  border: 1px solid #dfdfdf;
  border-radius: 50%;
  padding: 15px;
  margin: 25px 10px;
  font-size: 18px;
}

.fa:hover {
  background-color: #dd678a;
  border: 1px solid #dd678a;
}

p {
  padding-bottom: 1px;
  line-height: 1.75em;
  letter-spacing: 0.015em;
}

.extraInfoKey {
  font-weight: bold;
}

.extraInfoValue {
  font-weight: normal;
}

.extraInfoContainer {
  width: 100%;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}

table {
  width: 100%;
}
