@import '../../responsive';
$container-size: 160px;

.container {
  display: flex;
  width: 100%;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  align-items: center;
  padding: 18px 32px;
}

.ownerName {
  margin: 6px 0;
}

.ownerImage {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.ownerContainer {
  width: $container-size;
  height: $container-size;
  // TODO(jmckibben): See if we really *need* this
  // background-color: #c4c4c4;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 25px;
  padding: 8px;
}

.button {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.05em;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &,
  &:active,
  &:hover {
    min-width: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  @media (max-width: 599px) {
    font-size: 14px;
  }
}

.subsection {
  display: flex;
  width: 100%;
  border-radius: 2px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  align-items: center;
  padding: 18px 32px;
  position: relative;
  overflow: hidden;

  @media (max-width: 599px) {
    font-size: 14px;
    padding: 24px;
  }
}

.nowOpenFlag {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.15em;
  color: #fff;
  background-color: #f8ba17;
}

.orderNow {
  display: grid;
  position: relative;
  margin-top: 20px;

  &__bold {
    font-weight: bold;
  }

  &__smaller {
    font-size: 15px;
  }

  p {
    margin-top: 0;
  }

  &__hoursSect {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 16px;
    margin-bottom: 32px;

    p {
      margin-top: 0;
      padding-bottom: 0;
    }
  }

  &__hours {
    display: grid;
    align-items: start;
    grid-auto-rows: auto;
    grid-template-columns: 1fr 2fr;

    p {
      margin: 0 auto 0 0;
    }
  }

  &__button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    padding: 10px 120px;
    border-radius: 100px;
    background-color: #fff;
    box-shadow: 0px 3px 4px -2px rgba(0, 0, 0, 0.2); //0 4px 2px -2px gray;
    border: none;
    text-transform: uppercase;

    &:hover, &:active, &:focus {
      padding: 10px 120px;
      outline: none;
    }

    img {
      position: absolute;
      right: 25px;
    }
  }
}

.flipped {
  transform: rotate(180deg);
}

.unflipped {
  transform: rotate(0deg)
}

.support {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;

  &__button {
    max-height: 45px;
  }
}