.container {
  width: 100%;
  border-bottom: 2px solid #eeeeee;
  padding: 25px 50px 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image {
  width: 45px;
  height: 45px;
  margin-left: 25px;
}

.header {
  font-size: 2.5em;
  font-weight: 450;
  padding-left: 25px;
}

// mobile css down below
@media only screen and (max-width: 899px) {
  .container {
    justify-content: center;
  }

  .image {
    margin: 0;
  }

  .header {
    font-size: 1.85em;
  }
}
