
.container {
    width: 725px;
    height: 675px;
    font-size: 14px;
}

.paymentContainer {
    display: flex;
    flex-direction: column;
}

h3 {
    margin-top: 15px;
}

.row {
    display: flex;
    flex-direction: row;
    width: 400px;
}

.cardLabel, .label {
    height: 35px;
    padding: 10px;
    font-size: 12px;
    margin: 10px 0px;
}

.label {
    width: 180px;
}

.cardLabel {
    width: 375px;
}

.checkbox {
    margin-right: 15px;
}

.closeBtn {
    position: absolute;
    right: 50px;
    font-weight: bold;
    border: none;
    padding: 0px;
    width: 25px;
    font-size: 30px;
    top: 40px;
}

.btnRow {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: -25px;
}

.backBtn {
    border: none;
    padding: 0px;
    margin: 10px 0px;
    width: 50px;
    font-weight: bold;
}

.nextBtn {
    position: fixed;
    right: 50px;
    border: 1px solid black;
    background-color: black;
    color: white;
    font-weight: bold;
    letter-spacing: .1em;
}


@media only screen and (max-width: 799px) {
    .container {
        width: 85vw;
        height: 75vh;
        overflow-y: scroll;
    }

    .paymentContainer {
        flex-direction: column;
    }

    .cardLabel {
        width: 101%;
    }

    .label {
        width: 65%;
    }
}

