@import '../../responsive';

.button {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.05em;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &.moreThanTwoButtons,
  &:only-child {
    grid-column: 1 / span 2;
  }

  &,
  &:active,
  &:hover {
    min-width: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  @include for-phone-only {
    font-size: 14px;
  }
}
