@import '../../../responsive';
@import '../../../index.scss';

.bold {
  font-weight: 600;
}
.uppercase {
  text-transform: uppercase;
}

.container {
  background-color: white;
  max-width: 1250px;
  margin: 0 auto;
  font-size: 14px;
  padding: 0 35px;

  @include for-phone-only {
    overflow-x: hidden;
    padding: 0 20px;
  }
}

.header {
  display: grid;
  grid-template-rows: 300px 215px;
}

.headerText {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  z-index: 2;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 385px;

  p {
    font-size: 18px;
  }

  @include for-phone-only {
    max-width: 264px;

    h3 {
      font-size: 33px;
    }

    p {
      font-size: 15px;
    }
  }
}

.hero {
  grid-row: 1;
  grid-column: 1;
  height: 100%;
  object-fit: cover;

  // to break the image out of the parent container
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  @include for-phone-only {
    width: 185vw;
  }
}

.backButton {
  @include base-button;
  font-weight: bold;
  font-size: 16px;
  display: grid;
  place-items: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin-left: auto;
  margin-bottom: 30px;
  cursor: pointer;
  border: none;
  background-color: transparent;

  &:hover {
    color: $standard-red;
  }

  @include for-phone-only {
    font-size: 14px;
    padding-right: 0;
  }
}

.campaignHeader {
  font-weight: 600;
  font-size: 18px;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 50px;

  @include for-phone-only {
    font-size: 16px;
    padding-bottom: 30px;
  }
}

.videoContainer {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;

  @include for-phone-only {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.videoDescription {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;

  img {
    width: 35px;
  }

  @include for-phone-only {
    font-size: 16px;
  }
}

// CampaignInstructions styling when isModal=false
.background {
  background-color: $standard-red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 35px;

  @media (max-width: 900px) {
    padding: 0 20px;
  }


  // to break out of the parent container
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.instructionsGrid {
  max-width: 1250px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1000px) {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 15px;
    justify-items: center;
  }

  @include for-phone-only {
    grid-column-gap: 20px;
  }
}

.stepGrid {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 10px;
  max-width: 225px;

  @include for-tablet-portrait-up {
    min-width: 225px;
  }

  @media (max-width: 1000px) {
    img {
      width: 50px;
    }
  }
}

.stepText {
  p {
    color: white;
    margin: 0;
    font-size: 15px;

    @include for-phone-only {
      font-size: 11px;
    }
  }
}


// CampaignInstructions styling when isModal=true
.modalBackground {
  background-color: $standard-red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  margin: 20px 0;
}

.modalInstructionsGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5px;

  @media (max-width: 900px) {
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 15px;
    justify-items: center;
  }
}

.modalStepGrid {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 5px;
  width: 145px;

}

.modalStepText {
  p {
    color: white;
    margin: 0;
    font-size: 11px;
  }
}
