@import '../../../responsive';
@import '../../../index.scss';

.bold {
  font-weight: 600;
}
.uppercase {
  text-transform: uppercase;
}

.container {
  background-color: white;
  max-width: 1250px;
  margin: 0 auto;
  font-size: 14px;
  padding: 0 35px;

  @include for-phone-only {
    overflow-x: hidden;
    padding: 0 20px;
  }
}

.header {
  display: grid;
  grid-template-rows: 300px 215px;
}

.headerText {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  z-index: 2;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 385px;

  p {
    font-size: 18px;
  }

  @include for-phone-only {
    max-width: 264px;

    h3 {
      font-size: 33px;
    }

    p {
      font-size: 15px;
    }
  }
}

.hero {
  grid-row: 1;
  grid-column: 1;
  height: 100%;
  object-fit: cover;

  // to break the image out of the parent container
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  @include for-phone-only {
    width: 185vw;
  }
}

.backButton {
  @include base-button;
  font-weight: bold;
  font-size: 16px;
  display: grid;
  place-items: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin-left: auto;
  margin-bottom: 30px;
  cursor: pointer;
  border: none;
  background-color: transparent;

  &:hover {
    color: $standard-red;
  }

  @include for-phone-only {
    font-size: 14px;
    padding-right: 0;
  }
}

.campaignHeader {
  font-weight: 600;
  font-size: 18px;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 50px;

  @include for-phone-only {
    font-size: 16px;
    padding-bottom: 30px;
  }
}

.videoContainer {
  text-align: center;
  @include for-phone-only {
    margin-top: 16px;
  }
}

.videoDescription {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;

  img {
    width: 35px;
  }
}