label {
  // text-align:right;
}

.form {
  position: relative;
  top:165px;
}

.formContainer{
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap: 25px;
    justify-content: center;
    margin: 25px auto;
    width: 500px;
}

.noOutline {
  border: 0;
}

.noOutline:focus {
  outline: none;
}
