@import '../../responsive.scss';

.container {
  display: flex;
  flex-direction: column;
  max-width: 1480px;
  margin: 0 auto;
  background: linear-gradient(
      180deg,
      rgba(60, 80, 80, 0.8) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(./images/chinatown-splash.png);
}

.introContainer {
  padding: 10% 0 0 10%;
  height: 1500px;

  @include for-phone-only {
    padding: 10% 15% 20% 10%;
    height: 100%;
  }
}

.headerText {
  color: white;
  font-weight: 500;
  font-family: Avenir, sans-serif;
  font-size: 40px;
  line-height: 40px;
  padding: 0 0 24px 0;

  @include for-phone-only {
    font-size: 32px;
  }
}

.introTextSection {
  margin: 16px 0 24px 0;
}

.introText {
  color: white;
  font-weight: normal;
  font-family: Avenir, sans-serif;
  font-size: 16px;
  line-height: 32px;
  width: 60%;
  font-weight: 400;

  @include for-phone-only {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    width: 100%;
  }
}

.ctaButton {
  margin-top: 24px;
  border-radius: 100px;
  width: 200px;
  height: 56px;
  border: none;
  background-color: #1e1e1e;
  color: white;
  font-family: Avenir, sans-serif;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;

  @include for-phone-only {
    width: 100%;
  }
}
