@import '../../responsive.scss';

.container {
  display: flex;
  flex-direction: column;
  max-width: 1480px; 
  margin: 0 auto;
  background-color: white;
}

.introContainer {
  padding: 10% 0 0 10%;
  height: 1500px;

  @include for-phone-only {
    padding: 10% 15% 20% 10%;
    height: 100%;
  }
}

.headerText {
  font-weight: 500;
  font-family: Avenir, sans-serif;
  font-size: 40px;
  line-height: 40px;
  padding: 0 0 24px 0;

  @include for-phone-only {
    font-size: 32px;
  }
}

.introTextSection {
  margin: 16px 0 24px 0;
}

.introText {
  font-weight: normal;
  font-family: Avenir, sans-serif;
  font-size: 16px;
  width: 60%;

  @include for-phone-only {
    font-size: 16px;
    width: 100%;
  }
}

.ctaButton {
  margin-top: 24px;
  border-radius: 100px;
  width: 200px;
  height: 64px;
  border: none;
  background-color: #1e1e1e;
  color: white;
  font-family: Avenir, sans-serif;
  font-weight: 800;
  font-size: 18px;
  cursor: pointer;

  @include for-phone-only {
    width: 100%;
  }
}

.ctaSubtext {
  font-family: Avenir, sans-serif;
  font-weight: normal;
  font-size: 16px;
  margin-left: 32px;

  @include for-phone-only {
    display: block;
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
  }
}
