@import '../../responsive';
@import '../../index.scss';
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');

.header {
  width: 100%;
  height: 13vh;
  min-height: 70px;
  background: $standard-red;

  display: flex;
  flex-direction: column;
  justify-content: center;

  & > h1 {
    padding-left: 6vw;
    padding-bottom: 1vh;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.01em;

    color: white;
  }

  & > h2 {
    padding-left: 6vw;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;

    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: white;
  }
}

.metadataHeader {
  width: 100%;
  min-height: 90px;
  background: $light-red;

  @media only screen and (min-width: 750px) {
    height: 13vh;
  }

  display: grid;
  grid-template-columns: 25vw 25vw 25vw;
  column-gap: 7vw;
  justify-content: center;
  align-items: center;
}

.metadataBlock {
  padding: 10px;
  flex: 1;

  & > h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    text-transform: uppercase;
  }

  & > h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.01em;
  }
}

.noBreak {
  @media only screen and (min-width: 500px) {
    white-space: nowrap;
  }
}

.gamToggle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  text-align: center;
}
