@import '../../responsive';

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1480px; 
  margin: 0 auto; 
}

.contentContainer {
  width: 100%;
  height: 1500px;
  display: flex;
  background: linear-gradient(
      180deg,
      rgba(40, 40, 40, 0.4) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(./images/chinatown-splash.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  @include for-phone-only {
    height: 732px;
    background-position: center center;
  }
}


.introContainer {
  padding: 15% 0 0 10%;

  @include for-phone-only {
    padding: 20% 0 0 10%;
  }
}

.headerText {
  color: white;
  font-weight: 900;
  font-size: 48px;
  font-family: Avenir, sans-serif;
  margin-bottom: 40px;

  @include for-phone-only {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 24px;
  }
}

.introText {
  color: white;
  font-weight: 500;
  font-size: 24px;
  font-family: Avenir, sans-serif;
  margin-bottom: 80px;

  @include for-phone-only {
    font-size: 16px;
    line-height: 20px;
    width: 90%;
    margin-bottom: 24px;
  }
}

.ctaButton {
  color: white;
  background-color: black;
  border: none;
  border-radius: 100px;
  width: 200px;
  height: 64px;
  font-size: 16px;
  font-family: Avenir, sans-serif;
  font-weight: 650;
  cursor: pointer;

  @include for-phone-only {
    font-size: 12px;
    width: 160px;
    height: 40px;
  }
}
