@import '../../responsive';

.container {
  background-color: white;
  max-width: 1440px;
  margin: 0 auto;
  font-size: 14px;
}

.storeInfoContainer {
  padding: 0px 7vw 50px;
}

.merchantsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.merchantCard {
  height: 475px;
  width: 350px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
  margin: 30px 0px;
  padding: 25px;
  font-size: 14px;
  background-color: white;
}

.merchantCardLogo {
  position: relative;
  width: 100%;
  margin: 0 0 15px 0;
}

.overlayContainer {
  display: grid;
  grid-template-rows: 1fr;
}

.nycMap {
  grid-row: 1;
  grid-column: 1;
  height: 55%;
  width: 100%;
  object-fit: cover;

  @include for-phone-only {
    height: 35%;
  }
}

.contentContainer {
  // grid relative to parent container
  grid-row: 1;
  grid-column: 1;
  z-index: 5;

  // creating grid container for its own children components
  display: grid;
  grid-gap: 0 12%;
  padding: 50px 7vw;
  background-color: transparent;

  @include for-tablet-landscape-up {
    grid-template-columns: 2fr minmax(0, 350px);
    grid-template-rows: 2fr minmax(0, 250px);
  }

  @include for-phone-only {
    justify-items: center;
    padding-bottom: 0;
  }
}

.textArea {
  grid-row: 1;
  max-width: 350px;
  margin-top: 25px;
  text-align: justify;

  @include for-phone-only {
    grid-row: 1;
    grid-column: 1;
  }
}

.ownerPanel {
  grid-row: 1 / 3;
  grid-column: 2;

  @include for-tablet-landscape-up {
    display: flex;
    align-self: end;
  }

  @include for-phone-only {
    grid-row: 2;
    grid-column: 1;
  }
}

.storeInfo {
  grid-row: 2;
  margin: 30px 0px;

  @include for-phone-only {
    grid-row: 3;
    grid-column: 1;
  }
}

@media only screen and (max-width: 450px) {
  .merchantCard {
    width: 90vw;
    overflow: hidden;
  }
}
