@import '../../responsive';

.container {
  background-color: white;
  max-width: 1300px;
  margin: 0 auto;
  font-size: 14px;

  @include for-phone-only {
    overflow-x: hidden;
  }
}

.storeInfoContainer {
  padding: 0px 3vw 50px;

  @include for-phone-only {
    padding: 0px 7vw 30px;
  }
}

.merchantsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  grid-gap: 5.75%;

  @media (max-width: 1300px) {
    grid-gap: 5%;
  }

  @include for-phone-only {
    grid-template-columns: 1fr;
    justify-content: center;
    grid-gap: 10px;
  }
}

.overlayContainer {
  display: grid;
  grid-template-rows: 1fr;
}

.nycMap {
  grid-row: 1;
  grid-column: 1;
  height: 55%;
  object-fit: cover;

  // to break the image out of the parent container
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  @include for-phone-only {
    height: 35%;
  }
}

.contentContainer {
  // grid relative to parent container
  grid-row: 1;
  grid-column: 1;
  z-index: 5;

  // creating grid container for its own children components
  display: grid;
  grid-gap: 0 10%;
  padding: 50px 3vw 0;
  background-color: transparent;
  width: 100%;
  margin: 0 auto;

  @include for-tablet-landscape-up {
    grid-template-columns: 2fr;
    grid-template-rows: 2fr minmax(0, 250px);
  }

  @include for-phone-only {
    justify-items: center;
    padding-bottom: 0;
    grid-template-columns: minmax(0, 100%);
  }
}

.textArea {
  grid-row: 1;
  max-width: 350px;
  margin-top: 25px;
  text-align: justify;

  @include for-phone-only {
    grid-row: 1;
    grid-column: 1;
    text-align: left;
    margin: 0 3vw;
  }
}

.ownerPanel {
  grid-row: 1 / 3;
  grid-column: 2;

  @include for-tablet-landscape-up {
    display: flex;
    align-self: end;
  }

  @include for-phone-only {
    grid-row: 2;
    grid-column: 1;
  }
}

.storeInfo {
  grid-row: 2;
  margin: 30px 0px;

  @include for-phone-only {
    grid-row: 3;
    grid-column: 1;
    margin: 0 3vw;
  }
}
