.billingsContainer {
  overflow-y: scroll;
  max-height: 85vh;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.column {
  display: flex;
  flex-direction: column;
}

.name,
.lastName,
.email {
  width: 55%;
}

.city {
  width: 50%;
}

.state {
  width: 15%;
}

label {
  margin: 20px 0 5px 0;
}

.addressRow,
.btnRow {
  display: flex;
  justify-content: space-between;
}

.btnRow {
  margin-top: 30px;
}

.backBtn {
  width: 75px;
  font-size: 13px;
}

input:invalid {
  border: 1px solid red;
}

@media only screen and (max-width: 799px) {
  .billingsContainer {
    width: 85%;
    overflow-y: scroll;
  }

  .addressRow {
    flex-direction: column;
  }

  .column {
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  .billingsContainer {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
}
