.navLinkContainer {
  position: relative;
  padding-top: 14px;

  &::after {
    content: '';
    display: block;
    position: relative;
    margin: 27px 0;
    width: 100%;
    border-bottom: 1px solid #dedede;
    height: 1px;
  }
}

.navLink {
  display: inline;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.1em;
  margin: 12px 15px;
  color: black;

  &:first-child {
    margin-left: 0;
  }

  &--active {
    color: #dd678a;
    font-weight: 900;
  }
}
