@import '../../responsive';
@import '../../index.scss';

.header {
    width: 100%;
    height: 20vh;
    background: $standard-red;

    & > h1 {
        padding-top: 6vh;
        padding-left: 6vw;

        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 44px;
        letter-spacing: -0.01em;

        color: white;
    }

    & > h2 {
        padding-top: 1vh;
        padding-left: 6vw;

        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;

        letter-spacing: 0.05em;
        text-transform: uppercase;

        color: #FFFFFF;
    }
}