@import '../../../responsive';
@import '../../../index.scss';

.bold {
  font-weight: 600;
}
.uppercase {
  text-transform: uppercase;
}

.container {
  background-color: white;
  max-width: 1250px;
  margin: 0 auto;
  font-size: 14px;
  padding: 0 35px;

  @include for-phone-only {
    overflow-x: hidden;
    padding: 0 20px;
  }
}

.header {
  display: grid;
  grid-template-rows: 300px 215px;
}

.headerText {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  z-index: 2;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 385px;

  p {
    font-size: 18px;
  }

  @include for-phone-only {
    max-width: 264px;

    h3 {
      font-size: 33px;
    }

    p {
      font-size: 15px;
    }
  }
}

.hero {
  grid-row: 1;
  grid-column: 1;
  height: 100%;
  object-fit: cover;

  // to break the image out of the parent container
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  @include for-phone-only {
    width: 185vw;
  }
}

.backButton {
  @include base-button;
  font-weight: bold;
  font-size: 16px;
  display: grid;
  place-items: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin-left: auto;
  margin-bottom: 30px;
  cursor: pointer;
  border: none;
  background-color: transparent;

  &:hover {
    color: $standard-red;
  }

  @include for-phone-only {
    font-size: 14px;
    padding-right: 0;
  }
}

.campaignHeading {
  font-weight: 600;
  font-size: 18px;
  width: 100%;
  padding-bottom: 12px;
  margin: 0;

  @include for-phone-only {
    font-size: 16px;
    padding-bottom: 0;
  }
}

.campaignsContainer {
  > :first-child {
    border-top: 1px solid #e5e5e5;
  }

  > *:not(:last-child) {
    border-bottom: 1px solid #e5e5e5;
  }
}

.pastCampaignsHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 36px;
  @include for-phone-only {
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 24px;
  }
}

.pastCampaignsCount {
  margin-top: 12px;
  width: 250px;
}

.viewMoreBtnContainer {
  margin: 44px 0 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttonViewMore {
  box-sizing: border-box;
  width: 212px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 18px 50px;
  background: black;
  color: white;
  margin: 0 auto;
  border-radius: 50px;
  border: 0 solid white;
  @include for-phone-only {
    width: 100%;
  }
}

.buttonViewMore:hover,
.buttonViewMore:active {
  background: rgba(171, 25, 46, 1);
}

.videoContainer {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;

  @include for-phone-only {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.videoDescription {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;

  img {
    width: 35px;
  }

  @include for-phone-only {
    font-size: 16px;
  }
}

.bold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

// CampaignInstructions styling
.background {
  background-color: $standard-red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 35px;

  @media (max-width: 900px) {
    padding: 0 20px;
  }

  // to break out of the parent container
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.instructionsGrid {
  max-width: 1250px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1000px) {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 15px;
    justify-items: center;
  }

  @include for-phone-only {
    grid-column-gap: 20px;
  }
}

.stepGrid {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 10px;
  max-width: 225px;

  @include for-tablet-portrait-up {
    min-width: 225px;
  }

  @media (max-width: 1000px) {
    img {
      width: 50px;
    }
  }
}

.stepText {
  p {
    color: white;
    margin: 0;
    font-size: 15px;

    @include for-phone-only {
      font-size: 11px;
    }
  }
}
