@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
$default-button-color: black;
$standard-red: #ab192e;
$default-hover-red: #a9182e;

body {
  background-color: #ffffff;
  margin: 0;
  font-family: 'Open Sans', 'Avenir', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 66px;
  margin: 0;
}

h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 33px;
  margin: 0;
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
  margin-bottom: 15px;
}

@mixin base-button {
  border-radius: 100px;
  padding: 10px 22px;
  border: 1px solid $default-button-color;
  min-width: 150px;
  text-transform: uppercase;
  outline: none;
}

.button {
  &--filled {
    @include base-button;
    color: white;
    background-color: $default-button-color;
    border-color: $default-button-color;
  }

  &--red-filled {
    @include base-button;
    border: 1px solid $standard-red;
    background-color: $standard-red;
    width: 250px;
    color: white;
    font-weight: bold;
    letter-spacing: 0.1em;
    cursor: pointer;
  }

  &--filled:hover {
    @include base-button;
    background-color: $standard-red;
    border-color: $standard-red;
  }

  &--outlined {
    @include base-button;
    color: $default-button-color;
    background-color: white;
  }

  &--outlined:hover {
    @include base-button;
    color: $standard-red;
    background-color: white;
    border-color: $standard-red;
  }

  &--redfilled {
    @include base-button;
    color: white;
    background-color: $standard-red;
    border-color: $standard-red;
  }
}

@mixin modal-button {
  padding: 8px;
  width: 120px;
  border-radius: 75px;
  font-size: 12px;
  outline: none;
}

.modalButton {
  &--back {
    font-size: 12px;
    border: none;
    padding: 0px;
    margin: 10px 0px;
    width: 120px;
    font-weight: bold;
    outline: none;
    letter-spacing: 0.1em;
    cursor: pointer;
  }

  &--outlined {
    @include modal-button;
    border: 1px solid #dd678a;
    color: #dd678a;
    border-radius: 25px;
    margin: 10px 0px;
    cursor: pointer;
  }

  &--filled {
    @include modal-button;
    border: 1px solid black;
    background-color: $default-button-color;
    color: white;
    font-weight: bold;
    letter-spacing: 0.1em;
    cursor: pointer;
  }

  &--nonfunctional {
    @include modal-button;
    border: 1px solid #grey;
    background-color: grey;
    color: white;
    border-radius: 25px;
    font-weight: bold;
  }

  &--selected {
    @include modal-button;
    color: white;
    background-color: #dd678a;
    border: 1px solid #dd678a;
    margin: 10px 0px;
  }

  &--filled:disabled,
  &--outline:disabled {
    background-color: grey;
    border: 1px solid grey;
  }

  &--filled:focus {
    color: white;
    background-color: $default-hover-red;
    border: 1px solid $default-hover-red;
  }
}

@mixin modal-close-button {
  position: absolute;
  right: 50px;
  font-weight: bold;
  font-size: 30px;
  border: none;
  top: 40px;
  width: 40px;
  padding: 0;
  outline: none;
}

.closeButton {
  &--close {
    @include modal-close-button;
    background-color: white;
    cursor: pointer;
  }

  &--close:focus {
    @include modal-close-button;
    background-color: white;
    color: grey;
  }
}

@mixin modal-form {
  background-color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  padding: 50px;
  width: 725px;
}

.modalForm {
  &--form {
    @include modal-form;
  }
}

@mixin modal-input {
  height: 35px;
  padding: 10px;
  font-size: 12px;
  outline: none;
}

.modalInput {
  &--input {
    @include modal-input;
  }
}
