@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&family=Open+Sans:wght@400;700&display=swap');
$default-button-color: black;
$standard-red: #ab192e;
$default-hover-red: #a9182e;
$light-red: rgba(171, 25, 46, 0.07);
$light-grey: #9e9e9e;
$very-light-grey: #f7f7f7;
$light-background: #dedede;
$pink: #dd678a;

body {
  background-color: #ffffff;
  margin: 0;
  font-family: 'Open Sans', 'Avenir', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 66px;
  margin: 0;
}

h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 33px;
  margin: 0;
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 15px;
}

@mixin base-button {
  border-radius: 100px;
  padding: 10px 22px;
  border: 1px solid $default-button-color;
  min-width: 150px;
  text-transform: uppercase;
  outline: none;
}

.button {
  &--filled {
    @include base-button;
    color: white;
    background-color: $default-button-color;
    border-color: $default-button-color;
  }

  &--red-filled {
    @include base-button;
    border: 1px solid $standard-red;
    background-color: $standard-red;
    width: 250px;
    color: white;
    font-weight: bold;
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
  }

  &--red-filled:disabled {
    background-color: grey;
    border: 1px solid grey;
    cursor: default;
  }

  &--filled:hover {
    @include base-button;
    background-color: $standard-red;
    border-color: $standard-red;
  }

  &--outlined {
    @include base-button;
    color: $default-button-color;
    background-color: white;
  }

  &--outlined:hover {
    @include base-button;
    color: $standard-red;
    background-color: white;
    border-color: $standard-red;
  }

  &--redfilled {
    @include base-button;
    color: white;
    background-color: $standard-red;
    border-color: $standard-red;
  }

  &--red-outlined {
    @include base-button;
    border: 2px solid $standard-red;
    background-color: transparent;
    width: 250px;
    color: $standard-red;
    font-weight: bold;
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
  }
}

@mixin modal-button {
  font-family: 'Open Sans';

  padding: 8px;
  width: 100%;
  border-radius: 75px;
  font-size: 12px;
  text-transform: uppercase;
  outline: none;
  @media (min-width: 900px) {
    width: 120px;
  }
}

.modalButton {
  &--back {
    font-family: 'Open Sans';

    background: none;
    font-size: 12px;
    border: none;
    padding: 0px;
    margin: 10px 0px;
    width: 120px;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
    letter-spacing: 0.1em;
    cursor: pointer;
  }

  &--outlined {
    @include modal-button;
    border: 1px solid #dd678a;
    color: #dd678a;
    border-radius: 25px;
    margin: 10px 0px;
    cursor: pointer;
    background: white;
  }

  &--filled {
    @include modal-button;
    border: 1px solid black;
    background-color: $default-button-color;
    color: white;
    font-weight: bold;
    letter-spacing: 0.1em;
    cursor: pointer;
  }

  &--nonfunctional {
    @include modal-button;
    border: 1px solid grey;
    color: white;
    border-radius: 25px;
    font-weight: bold;
  }

  &--selected {
    @include modal-button;
    color: white;
    background-color: #dd678a;
    border: 1px solid #dd678a;
    margin: 10px 0px;
  }

  &--selected,
  &--outlined {
    width: 120px;
    padding: 16px 0;
    border-radius: 50px;
    @media (min-width: 1000px) {
      width: 200px;
      padding: 20px 0;
    }
  }

  &--filled:disabled,
  &--outline:disabled {
    background-color: grey;
    border: 1px solid grey;
    cursor: default;
  }

  &--filled:enabled:hover {
    color: white;
    background-color: $default-hover-red;
    border: 1px solid $default-hover-red;
  }
}

@mixin modal-close-button {
  position: absolute;
  right: 50px;
  font-weight: bold;
  font-size: 30px;
  border: none;
  top: 40px;
  width: 40px;
  padding: 0;
  outline: none;
  z-index: 2;
}

.closeButton {
  &--close {
    @include modal-close-button;
    background-color: white;
    cursor: pointer;
  }

  &--close:focus {
    @include modal-close-button;
    background-color: white;
    color: grey;
  }
}

@mixin modal-form {
  background-color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 50px;
  width: 725px;
}

.modalForm {
  &--form {
    @include modal-form;
  }
}

@mixin modal-input {
  height: 35px;
  padding: 10px;
  font-size: 12px;
  outline: none;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
}

.modalInput {
  &--input {
    @include modal-input;
  }
}

// voucher-dashboard styles
.filterable-table-container {
  font-family: 'Open Sans';
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: auto;

  .header-row {
    display: grid;
    grid-template-columns: 4fr 0px 1fr;
    align-items: center;
    justify-content: stretch;
    padding: 10px 0px;
    width: 100%;

    .filter-container {
      display: flex;
      align-items: center;

      input.filter-input {
        width: 60vw;
        height: 50px;
        margin-right: 5px;
      }

      .clear-filter {
        cursor: pointer;
      }
    }

    .record-count {
      justify-self: end;
      min-width: 150px;

      span {
        min-width: 150px;
        display: flex;
      }
    }
  }

  div {
    width: 100%;
  }

  .table {
    table-layout: fixed;
  }

  thead {
    background: $very-light-grey;
    white-space: pre-line;
  }

  .fa {
    // filter arrows
    margin-left: 1vw;
  }

  .table-email-header {
    width: 35%;
  }

  .table-email-container {
    word-break: break-all;
  }

  nav {
    float: right;

    li {
      padding: 0px 5px;
      min-width: 5px;
      margin: 0px 2px;
      cursor: pointer;
      border: 1px solid $light-grey;
      border-radius: 3px;

      &:hover {
        background: $light-red;
      }
    }

    li.active {
      color: white;
      cursor: default;

      background: $standard-red;
    }

    li.disabled {
      color: $light-grey;
      cursor: not-allowed;

      &:hover {
        background: white;
      }
    }
  }
}
