$default-button-color: black;

body {
  background-color: #f3f3f3;
  margin: 0;
  font-family: 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 66px;
  margin: 0;
}

h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  margin: 0;
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
  margin-bottom: 15px;
}

@mixin base-button {
  border-radius: 100px;
  padding: 10px 22px;
  border: 1px solid $default-button-color;
  min-width: 150px;
  text-transform: uppercase;
  font-size: 14px;
  outline: none;
}

.button {
  &--filled {
    @include base-button;
    color: white;
    background-color: $default-button-color;
  }

  &--outlined {
    @include base-button;
    color: $default-button-color;
    background-color: white;
  }
}

@mixin modal-button {
  padding: 8px;
  width: 120px;
  border-radius: 75px;
  font-size: 12px;
  outline: none;
}

.modalButton {
  &--back {
    border: none;
    padding: 0px;
    margin: 10px 0px;
    width: 50px;
    font-weight: bold;
    outline: none;
  }

  &--outlined {
    @include modal-button;
    border: 1px solid #dd678a;
    color: #dd678a;
    border-radius: 25px;
    margin: 10px 0px;
  }

  &--filled {
    @include modal-button;
    border: 1px solid black;
    background-color: $default-button-color;
    color: white;
    font-weight: bold;
    letter-spacing: 0.1em;
  }

  &--filled:disabled,
  &--outline:disabled {
    background-color: grey;
    border: 1px solid grey;
  }

  &--filled:focus,
  &--outlined:focus {
    color: white;
    background-color: #dd678a;
    border: 1px solid #dd678a;
  }
}

@mixin modal-close-button {
  position: absolute;
  right: 50px;
  font-weight: bold;
  font-size: 30px;
  border: none;
  top: 40px;
  width: 40px;
  padding: 0;
  outline: none;
}

.closeButton {
  &--close {
    @include modal-close-button;
  }

  &--close:focus {
    @include modal-close-button;
    background-color: white;
    color: grey;
  }
}

@mixin modal-form {
  background-color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  padding: 50px;
  width: 725px;
}

.modalForm {
  &--form {
    @include modal-form;
  }
}

@mixin modal-input {
  height: 35px;
  padding: 10px;
  margin: 10px 0px;
  font-size: 12px;
  outline: none;
}

.modalInput {
  &--input {
    @include modal-input;
  }
}
