.progressContainer {
  width: 100%;
  padding: 15px 0;
}

.targetAmountBar {
  background-color: #dedede;
  height: 12px;
  margin-bottom: 15px;
}

.currentRaisedBar {
  background-color: #dd678a;
  z-index: 5;
  height: 12px;
}

.contributionInfo {
  display: flex;
  justify-content: space-between;
}
